p {
  color: rgb(4, 12, 12);
  font-style: italic;
}
h1 {
  background-color: azure;
}

.Carnage {
  background-color: crimson;
}

#Carnage {
  color: azure;
}
.GreenGoblin {
  background-color: darkgreen;
}

.Kang {
  background-color: blueviolet;
}

span {
  color: black;
}
