p {
  color: rgb(4, 12, 12);
}
h1 {
  background-color:azure;
}

.Carnage {
  background-color: crimson;
}

#Carnage {
    color: azure;
}
.GreenGoblin {
    background-color: darkgreen;
}

.Kang{
    background-color: blueviolet;
}
.div1 {
}
.div2 {
}
#divPrincipal {
}
span {
  color: black;
}
